.categories {
    display: grid;
    grid-auto-flow: column;
}

.category {
    display: grid;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
    .category:hover {
        display: grid;
        cursor: pointer;
        text-align: center;
        background-color: rgb(180, 224, 102);
        color: black;
        border: 2px solid darkolivegreen;
        border-radius: 20px;
    }

.counter {
    color: red;
}

.subCategory {
    display: grid;
    text-align: center;
    padding: 20px;
    background-color: rgb(28, 99, 156);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
    .subCategory:hover {
        display: grid;
        cursor: pointer;
        text-align: center;
        background-color: rgb(57, 101, 182);
        color: black;
        border: 2px solid rgb(75, 177, 224);
        border-radius: 20px;
    }

#getQuizzesBtn {
    display: grid;
    grid-auto-flow: column;
    margin-left: 45%;
    margin-right: 49%;
    background-color: darkred;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.quiz-title {
    text-align: center;
    background: black;
    border-radius: 20px;
    padding: 2%;
    color: white;
    margin-left: 40%;
    margin-right: 40%;
}

.quiz-questions {
    text-align: center;
}

.choices {
    display: grid;
    grid-auto-flow: column;
    width: 50%;
    margin-left: 25%;
}

    .choice {
        border: 1px solid black;
        padding: 20%;
    }
        .choice:hover {
            background-color: skyblue;
        }